*{
    margin: 0px;
    color: white;
}


body{
    font-family: "DM Sans", sans-serif;
}


/* header */
header{
    background-image: url(assets/image-header.png);
    background-size: cover;
    min-height: 120vh;

    .titre{
       font-size: 43px;
    }
    
    .soustitre{
        font-size:130px ;
    }

    p{
        font-size: 18px;
        padding: 1px;
        width: 250px;
    }
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 790px;
    gap: 5px;
}

h1{
    display: flex;
    flex-direction: column;
}
.logo-header{
    width: 200px;
}

.headerdiv{
    padding: 50px;
    display: flex;
    justify-content: space-between;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    font-size: 18px;
}

nav a{
    text-decoration: none;
    font-size: 15px;
}

.hero-div{
    justify-content: left;
    flex-direction: column;
    

}

.BILLETTERIE{
    text-decoration: none;
    border: 0;
    font-size: 1rem;
    text-align: center;
    color: white;
    background-color: black ;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 150px;
}

.INFO{text-decoration: none;
    border: 0;
    font-size: 1rem;
    text-align: center;
    color: black;
    background-color: white ;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 150px;}


.div1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 60px;
}

/* fin header */

.image-section{
    width: 100%;
}

/* deuxieme section */
main{
    background-color: black; 
}

    .deuxieme-section{    
    h2{
        font-style: normal;
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        gap: 5px;
    }

    .p-intro{
        font-size: 20px;
        padding-bottom: 80px;
    }

.container{
    margin: auto;
    width: 900px;  
}
}
/* fin 2e section */


/* 3e section */

.artiste{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    align-items: center;
}

.line{
    font-size: 36px;
    text-align: center;
}

.billet-artistes{
    text-decoration: none;
    border: 0;
    font-size: 1rem;
    text-align: center;
    color: black;
    background-color: white ;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 150px;    
    align-items: center;   
}

ul{
    padding: 100px;
    list-style: none;
    margin: auto;
    width: 800px;
}
li{
    border-top: #80808094 dotted;
    padding: 2px;
    text-align: center;
    
}
.bamby{
    border-bottom: #80808094 dotted;
}

